<configuration>
  <appender name="jsonConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>
  <appender name="jsonFileAppender"  class="ch.qos.logback.core.FileAppender">
    <file>target/serverlogs/voicebase.log</file>
    <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
  </appender>
  <root level="INFO">
    <appender-ref ref="jsonFileAppender"/>
    <appender-ref ref="jsonConsoleAppender"/>
  </root>
</configuration>